################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NoterApi/.vs/NoterApi
/NoterApi/Services/NoterApi/bin
/NoterApi/Services/NoterApi/obj
/NoterApi/Services/NoterApi/bin
/NoterApi/Services/NoterApi/obj
/NoterApi/Services/NoterApi/bin
/NoterApi/Services/NoterApi/obj
/NoterApi/NoterApi/obj
/NoterApi/NoterApi/bin
/NoterApi/NoterApi/bin
/NoterApi/NoterApi/obj
/NoterApi/NoterApi/NoterApi.csproj.user
/NoterApi/NoterApi/ClientApp/package-lock.json
/NoterApi/NoterApi/ClientApp/package-lock.json
package-lock.json~25b9c4641bb318d5a1d8f7eb9a801cace488c3fe
/NoterApi/NoterApi/NoterApi/wwwroot/Images
/NoterApi/NoterApi/NoterApi/wwwroot/Excel
/.vs/slnx.sqlite
/NoterApi/NoterApi/wwwroot/PDF/InvoicePdf_417b45c7-4baf-41ef-813a-1d0030228e84.pdf
*.pdf
*.json
*.suo
NoterApi/Core/bin/Debug/net8.0/Core.dll
*.dll
*.exe
*.pdb
*.exe
