################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MStock.Web/.vs/MStock.Web
/MStock.Web/Services/MStock.Core/bin
/MStock.Web/Services/MStock.Core/obj
/MStock.Web/Services/MStock.Repository/bin
/MStock.Web/Services/MStock.Repository/obj
/MStock.Web/Services/MStock.Service/bin
/MStock.Web/Services/MStock.Service/obj
/MStock.Web/MStock.Test/obj
/MStock.Web/MStock.Test/bin
/MStock.Web/MStock.Web/bin
/MStock.Web/MStock.Web/obj
/MStock.Web/MStock.Test/MStock.Test.csproj.user
/MStock.Web/MStock.Web/ClientApp/package-lock.json
/MStock.Web/MStock.Web/ClientApp/package-lock.json
package-lock.json~25b9c4641bb318d5a1d8f7eb9a801cace488c3fe
/MStock.Web/MStock.Web/MStock.Web/wwwroot/Images
/MStock.Web/MStock.Web/MStock.Web/wwwroot/Excel
/.vs/slnx.sqlite
/MStock.Web/MStock.Web/wwwroot/PDF/InvoicePdf_417b45c7-4baf-41ef-813a-1d0030228e84.pdf
*.pdf
*.json
*.suo
